.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.loginCard {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background: var(--bg-card);
    padding: 32px;
    border-radius: 28px;
    border: var(--border-line);
    box-shadow: var(--shadow-all);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.loginCard__title {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-title);
}

.loginCard__subtitle {
    color: var(--text-subTitle);
    font-size: 14px;
    line-height: 1.5;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.loginForm__inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.loginForm__label {
    font-family: var(--font-family-text);
    font-size: 14px;
    color: var(--text-subTitle);
}

.loginForm__errorMessage {
    color: var(--text-warning);
    font-size: 12px;
    text-align: center;
}

.loginForm__btnSubmit {
    width: 100%;
    margin-top: 24px;
}

.loginForm__input:disabled,
.loginForm__btnSubmit:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
